@media only screen and (max-width:575px) {
    .carousel-caption h2 {
        width: 100% !important;
        font-size: 18px !important;
        line-height: 30px !important;
    }
    .carousel-caption p {
        width: 100% !important;
        font-size: 16px !important;
    }

    /* Home */

    button.navbar-toggler:focus {
        outline: none !important;
        border: none !important;
    }

    #topPerformerAndNewsSection {
        padding: 50px 10px !important;
    }

    #ourMilestone {
        padding: 50px 0px !important;
    }

    #ourMilestone .left-border {
        border-right: none !important;
    }

    #ourMilestone .join-btn h5 {
        line-height: 60px;
    }

    #ourSponsor h1 {
        font-size: 22px !important;
    }
}