@media only screen and (max-width:575px) {
    .carousel-caption h2 {
        width: 100% !important;
        font-size: 18px !important;
        line-height: 30px !important;
    }
    .carousel-caption p {
        width: 100% !important;
        font-size: 16px !important;
    }

    /* Home */

    button.navbar-toggler:focus {
        outline: none !important;
        border: none !important;
    }

    #topPerformerAndNewsSection {
        padding: 50px 10px !important;
    }

    #ourMilestone {
        padding: 50px 0px !important;
    }

    #ourMilestone .left-border {
        border-right: none !important;
    }

    #ourMilestone .join-btn h5 {
        line-height: 60px;
    }

    #ourSponsor h1 {
        font-size: 22px !important;
    }

    /* single-scorecard */

    #scorecardSection .scorecardRow1 img {
        width: 100px !important;
    }

    #scorecardSection .scorecardRow1 h1.score-pts {
        font-size: 40px !important;
    }

    #scorecardSection .scorecardRow1 h2.vs-text {
        font-size: 25px !important;
    }

    #scorecardSection .live-team-name {
        font-size: 15px;
    }

    #scorecardSection {
        padding: 60px 10px 50px 10px;
    }

    #scorecardSection .live-match-ply-name {
        font-size: 16px;
    }

    #scorecardSection .scorecardRow1 .top-performer-match .border-right {
        border-right: none !important;
    }
}